body {
  color: white;
  background-color: black;
  font-family: 'Comic Sans MS', cursive;
  text-align: justify;
}

a {
  color: skyblue;
}

a:hover {
  opacity: 0.8;
}

img {
  border: 10px solid transparent;
}